bin
obj
lib
build
.deps
.libs
*.a
*.la
*.lo
*.o
*.so
*.desktop
*.swp
autom4te.cache
aclocal.m4
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
INSTALL
libtool
ltmain.sh
m4
missing
Makefile
Makefile.in
tags
